@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-2);
}

:root{
    --bg-color-1:#162639;
    --bg-color-2:#103663;
    --bg-color-3:#ecf5ff;
    --bg-color-4:#2a4d4f;

    --color-1:#162639;
    --color-2:#c4c4c4;
    --color-3:#dedede;
    --color-4:#FFFFFF;
    --color-5:#1b3350;
    --color-6:#213c26;
    --color-7:#aaaaaa;
 

    --correct:#247c24;
    --incorrect:#f70d0d;

    --font-1:"Open Sans", sans-serif;
    --font-2:"Lato", sans-serif;
    --font-3: 'Caveat', cursive;
    --font-4:'Roboto', sans-serif;

    --font-zise-1:10px;
}

body{
    background-color: var(--bg-color-3);
    font-size: 10px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container > *{
    width: 100%;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-cen{
    justify-content: center;
    align-items: center;
}

.justfy-cen {
    justify-content: center;
}
.text-cen{
    text-align: center;
}

h1,h2,h3,h4{
    margin-bottom: 10px;
}

h1{
    font-size: 50px;
    color:var(--color-1);
    margin-bottom: 50px;
}
h1 > span{
    font-size: 25px;
    font-weight: 500;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 500;
}

.hidden{
    display: none;
}

/* ############# Button ################### */
.btn {
  font-size: 20px;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  border: 1px solid var(--color-2);
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--color-5);
  background-color: var(--color-3);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px 0 var(--color-3);
  transform: translateY(-1px);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
