/* ######## Complete ###### */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    width: 200px;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline-color: none;
    box-shadow: 0 1px 15px 0 var(--color-2);
}

input:focus{
    outline: none;
}

input::placeholder {
    color: var(--color-7);
}
